[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyyaml = "*"
pylint = "*"
requests-mock = "*"
pytest = "*"
pytest-bdd = "*"
pytest-cov = "*"
pytest-vcr = "*"
autopep8 = "*"
invoke = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
amadeus_api = "python3 library/amadeus_api.py"
unit_test = "python3 tests/unit_tests/test_units_amadeus.py"